@CHARSET "ISO-8859-1";
body {
  background-color: #EFECCA;
  font-family:Helvetica, Arial, sans-serif;
}
h1 {
	color: #C03000;	
}
h2 {
	color: #4BB5C1;	
}
p{
	font-weight: bold;
	font-family:Helvetica, Arial, sans-serif;
	
}
input[type=text]{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type=submit] {
	background-color: #DD0000; 
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}