@CHARSET "ISO-8859-1";
body {
  background-color: #EFECCA;
  font-family:Helvetica, Arial, sans-serif;
}
h1 {
	color: #C03000;	
}
h2 {
	color: #4BB5C1;	
}
li{
	display: inline;
	text-align: center;
	background-color: #D00000;
	padding:  10px 10px 10px 10px;
	font-family:Helvetica, Arial, sans-serif;
	border: 1px solid #660000;
	list-style-type: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
li a:hover{
	text-decoration: underline;
}
li:hover {
	background-color: #009900; 
}
li a {
	color: #FFFFFF;
	text-decoration: none;
}
#contact {
	color: 0000FF;
	font-weight: bold;
	text-decoration: none;
}